@* login Template File *@
@()(implicit request: RequestHeader, flash: Flash)

@main("Login") {
    <h1>Login Page</h1>
    @flash.get("error")
    <form action="@routes.LoginController.validateLogin" method="post">
        @helper.CSRF.formField
        Username:
        <label>
            <input type="text" name="username" />
        </label>

        Password:
        <label>
            <input type="password" name="password" />
        </label>

        <button type="submit">Submit</button>
    </form>
}
