@* taskList Template File *@
@(tasks: Seq[String])(implicit req: RequestHeader, flash: Flash)

@main("Task List") {
   <h3> @flash.get("success") </h3>
    <h2>Task List</h2>

    <ul>
        @for((task, index) <- tasks.zipWithIndex) {
            <li>@task</li>
            <form action="@routes.TaskListController.deleteTask" method="POST">
                @helper.CSRF.formField
                <input type="hidden" value="@index" name="index">
                <input type="submit" value="Delete">
            </form>
        }
    </ul>

    <form method="post" action="@routes.TaskListController.taskList">
        @helper.CSRF.formField
        <label>
            <input type="text" name="task" />
        </label>
        <button type="submit">Submit</button>
    </form>

    <div>
        <a href="@routes.LoginController.logout">Logout</a>
    </div>
}
